body {
    background-image: radial-gradient(blue, purple);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: whitesmoke;
}

.navigation {
    background-color: rgb(26, 61, 63);
    overflow: hidden;
    color: darkgrey;
}

.navigation a {
    float: left;
    text-align: center;
    padding: 12px 14px;
    font-size: 16px;
}

.navigation a:hover {
    background-color: grey;
    color: black;
}

.navigation a.active {
    background-color: darkblue;
    color: white;
}

nav button {
    margin-top: 10px;
}

h1 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

table {
    border-spacing: 80px 15px;
}

th {
    border-bottom: 2px solid black;
}

td:nth-child(1) {
    text-align: right;
}

td:nth-child(2) {
    text-align: center;
}

td:nth-child(3) {
    text-align: left;
}

#androidphone {
    width: 10%;
    float: left;
    position: absolute;
   left: 1400px;
   top: 2550px;
   animation-name: androidmove;
   animation-duration: 13s;
    
}
@keyframes androidmove {
    0%   { left:1500px; top:2500px; }
    33%   { left:1400px; top:2100px; }
    66%  { left:1300px; top:2800px; }
    100% { left:1400px; top:2550px; }
 }
#iphoneimage {
    width: 10%;
    float: left;
    position: absolute;
    left: 1200px;
    top: 2550px;
    animation-name: iphonemove;
    animation-duration:20s;
}

@keyframes iphonemove {
    0%   { left:1800px; top:2900px; }
    33%   { left:1200px; top:2500px; }
    66%  { left:1700px; top:2700px; }
    100% { left:1200px; top:2550px; }
 }


#iphoneandroid {
    width: 85%;
    animation-name: rotations;
    animation-duration: 13s;
    animation-timing-function: linear;
}

@keyframes rotations {
    50% {transform: rotate(180deg)}
    100% {transform: rotate(360deg)}
}


#comparisonheader {
    text-align: left;
    margin-left: 300px;
}

.float_big {
    padding: 20px;
   text-align: center;
}

.tablediv {
    display: inline-block;
    width: 90%;
}





a:link {
    color: rgb(83, 180, 224);
}

a:visited {
    color: rgb(173, 60, 201);
}







#introdiv {
    text-align: center;
    width: 50%;
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%;
}



.sectiondiv { 
    width: 47%;
    padding: 20px;
    padding-top: 150px;
    text-align: left;
}


/* styles for the statistics page */

.statsbody {
    display: flex;
}


.statsheader {
    text-align: left;
}

.statsdiv {
    display: inline-block;
    flex: 40%;
    vertical-align: top;
}

.statsimage1 {
    display: inline-block;
    text-align: center;
    width: 30%
}

.statsimage2 {
    display: inline-block;
    text-align: center;
    width: 30%
}

.statsdescriber {
    display: inline-block;
    text-align: left;
    width: 30%;
}
