body {
    background-image: linear-gradient(to bottom right, lightblue, lightgreen);
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: darkslategray;
}

.navigation {
    background-color: black;
    overflow: hidden;
}

.navigation a {
    float: left;
    text-align: center;
    padding: 12px 14px;
    font-size: 16px;
}

.navigation a:hover {
    background-color: grey;
    color: black;
}

.navigation a.active {
    background-color: darkblue;
    color: white;
}

h1 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

table {
    margin-left: 32%;
    margin-right: 32%;
    border-spacing: 80px 15px;
    width: 46%;
}

th {
    border-bottom: 2px solid black;
}

td:nth-child(1) {
    text-align: right;
}

td:nth-child(2) {
    text-align: center;
}

td:nth-child(3) {
    text-align: left;
}

#androidphone {
    width: 10%;
    float: right;
    margin-right: 600px;
    animation-name: androidmove;
    animation-duration: 12s;
}

@keyframes androidmove {
    0% {transform: rotate(45deg)}
    50% {transform: rotate(-45deg)}
    100% {transform: rotate(0deg)}
 }

#iphoneimage {
    width: 10%;
    float: left;
    margin-left: 600px;
    animation-name: iphonemove;
    animation-duration: 12s;
}

@keyframes iphonemove {
    0%   { transform: scale(0.5, 0.5); }
    33%   { transform: scale(1, 1); }
    66%  { transform: scale(1.5, 1.5); }
    100% { transform: scale(1, 1); }
 }

#iphoneandroid {
    width: 85%;
    animation-name: rotations;
    animation-duration: 3s;
}

@keyframes rotations {
    0% {transform: rotate(5deg)}
    5% {transform: rotate(-5deg)}
    10% {transform: rotate(5deg)}
    15% {transform: rotate(-5deg)}
    20% {transform: rotate(5deg)}
    25% {transform: rotate(-5deg)}
    30% {transform: rotate(5deg)}
    35% {transform: rotate(-5deg)}
    40% {transform: rotate(5deg)}
    45% {transform: rotate(-5deg)}
    50% {transform: rotate(5deg)}
    55% {transform: rotate(-5deg)}
    60% {transform: rotate(5deg)}
    65% {transform: rotate(-5deg)}
    70% {transform: rotate(5deg)}
    75% {transform: rotate(-5deg)}
    80% {transform: rotate(5deg)}
    85% {transform: rotate(-5deg)}
    90% {transform: rotate(5deg)}
    95% {transform: rotate(-5deg)}
    100% {transform: rotate(0deg)}
}

nav button {
    margin-top: 10px;

}

#comparisonheader {
    text-align: center;
}

.float_big {
    padding: 20px;
   text-align: center;
}

.tablediv {
    display: inline-block;
    width: 90%;
}


a:link {
    color: rgb(83, 180, 224);
}

a:visited {
    color: rgb(173, 60, 201);
}







#introdiv {
    text-align: center;
    width: 50%;
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%;
}



.sectiondiv { 
    vertical-align: top;
    display: inline-block;
    width: 47%;
    padding: 20px;
    padding-top: 150px;
    text-align: left;
}


/* styles for the statistics page */

.statsheader {
    text-align: center;
}

.statsdiv {
    text-align: center;
}

.statsimage1 {
    text-align: center;
}

.statsimage2 {
    text-align: center;
}

.statsdescriber {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}








